body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#ff9a9e,#fad0c4);
    font-family:Arial,sans-serif;
    overflow:hidden;
}

.page{
    text-align:center;
    animation:fadeIn 1s ease;
}

h1,p{
    color:white;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:white;
    color:#ff4d6d;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:scale(.8);
    }
    to{
        opacity:1;
        transform:scale(1);
    }
}

.heart{
    position:absolute;
    font-size:30px;
    animation:float 2s forwards;
}

@keyframes float{
    from{
        opacity:1;
    }
    to{
        opacity:0;
        transform:translateY(-150px) scale(2);
    }
}

.photo{
    width:220px;
    height:220px;
    object-fit:cover;
    border-radius:50%;
    border:5px solid rgb(11, 11, 11);
    margin-bottom:20px;
    box-shadow:0 0 25px rgba(255,255,255,.6);
}

.message{
    color:white;
    max-width:700px;
    line-height:1.8;
    font-size:20px;
    margin:auto;
    min-height:220px;
}

.cursor{
    animation:blink .8s infinite;
    color:white;
    font-size:22px;
}

@keyframes blink{
    50%{
        opacity:0;
    }
}
